#mu-page-breadcrumb {
    padding: 10px;
}
.mu-latest-course-single .mu-latest-course-single-content {
    padding: 5px;
}
#mu-page-breadcrumb .mu-page-breadcrumb-area h2 {
    padding-top: 10px;
    font-size: medium;
    line-height: 1.4em;
}
#mu-course-content {
    padding: 46px 0;
}
.enroll-button {
    background-color: #03989e;
    color: white;
    border-radius: 5px;
    float: right;
    padding: 8px;
    font-weight: bold;
}
#mu-course-content .mu-course-content-area .mu-course-details .mu-latest-course-single .mu-latest-course-single-content h4 {
    font-weight: bold;
    font-size: small;
}
#mu-course-content .mu-course-content-area .mu-course-details .mu-latest-course-single .mu-latest-course-single-content ul {
    padding-left: 20px;
    font-size: small;
}
#mu-course-content .mu-course-content-area .mu-course-details .mu-latest-course-single .mu-latest-course-single-content p {
    font-size: small;
}
.panel-group .panel-heading {
    background-color: #03989e;
    border-radius: 4px;
}
.panel-heading {
    padding: 8px;
}
.panel-group .panel {
    margin: 5px;
    border-bottom: 1px solid #03989e;
}
.panel-title {
    font-size: small;
}
#mu-course-content .mu-course-content-area .mu-course-details .mu-latest-course-single .mu-latest-course-single-content .bullet li::before {
    content: "\2022";
    color: #03989e;
    font-weight: bold;
    display: inline-block;
    width: 10px;
    margin-left: -10px;
}
.panel-group {
    margin-bottom: -10px;
}
.mu-latest-course-single .mu-latest-course-single-content
{
  padding:5px;
}
.mu-latest-course-single .mu-latest-course-single-content p
{
  font-size: small;
  line-height:1.4em;
  text-align: justify;
}
.mu-latest-course-single .mu-latest-course-single-content h4 a
{
  font-weight:bold;
}
h4
{
  font-size: small;
}
figcaption
{
  display: none !important;
}
.mu-related-item-area #mu-related-item-slide .mu-latest-course-single .mu-latest-course-img
{
  height:100px;
}
.mu-latest-course-single
{
  width:100%;
}
#mu-course-content .mu-course-content-area .mu-sidebar .mu-single-sidebar 
{
    margin-top: 30px;
    margin-bottom: 0;
    padding: 0 10px 0px;
}
#sidebar-table td
{
  padding:10px;
  font-size: small;
}
#sidebar-icon{
  text-align:center;
  color: #03989e;
  border: 2px solid #03989e;
  border-radius: 100%;
}
.percentage{
  color: #03989e;
}
.sidebar-related-courses{
  margin-top: 40px;
}
.sidebar-related-courses li{
  margin-top: 20px;
  font-weight:bold;
  font-size: small;
}
.sidebar-related-courses #underline::after{
  content: '';
  height: 2px;
  width: 20%;
  background-color: #03989e;
  position: absolute;
}

.sidebar-related-courses .fa{
  float:right;
  font-weight: bold;
}
.sidebar-related-courses b {
    padding-bottom: 10px;
    font-size: small;
}